{% extends "layout.html" %}

{% block title %}
    HMS|Login
{% endblock %}

{% block body %}
    <h1>Login</h1>
    <form action="{{url_for('login')}}" method="post">
        <div class ="login">
            <input type="text" name="user_id" placeholder="ID">
            <input type="password" name="user_password" placeholder="Password">
        </div> 
        <div class = "submit-button">
            <button>Submit</button>
        </div>
        <p>{{ message }}</p>
        <p>Not Registered ?  Please SignUp!</p>     
    </form>
{% endblock %}